/* Game Container */
.game-container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: sans-serif, arial;
}

.game-container .content {
    position: relative;
    padding: 0;
}
