/* Enemies */
.player-avatar .avatar.enemy {
    top: initial;
    bottom: 20px;
    left: 38%;
}

/* Status */
.player-avatar .avatar.enemy.regen {
    opacity: 0.2;
}

/* Poring Field */
.Poring.avatar {
    width: 50px;
    height: 50px;
    background-image: url("../assets/enemy/poring.png");
    background-position: 0 0;
}

.Drops.avatar {
    width: 50px;
    height: 50px;
    background-image: url("../assets/enemy/drops.png");
    background-position: -8px -8px;
}

.Poporing.avatar {
    width: 50px;
    height: 50px;
    background-image: url("../assets/enemy/poporing.png");
    background-position: -6px -2px;
}

.Marine.avatar {
    width: 50px;
    height: 50px;
    background-image: url("../assets/enemy/marin.png");
    background-position: -2px 0;
}

/* Poring Field - Boss */
.Poring_King.avatar {
    left: 22%;
    width: 100px;
    height: 100px;
    background-image: url("../assets/enemy/poring_king.png");
    background-size: 1000px;
    background-position: -12px -10px;
    background-repeat: no-repeat;
}

/* Poring Field 2 */
.Fabre.avatar {
    width: 50px;
    height: 50px;
    background-image: url("../assets/enemy/fabre.png");
    background-position: 0 10px;
}

.Lunatic.avatar {
    width: 50px;
    height: 50px;
    background-image: url("../assets/enemy/lunatic.png");
    background-position: -174px 0;
}

.Rodra.avatar {
    left: 36%;
    width: 55px;
    height: 55px;
    background-image: url("../assets/enemy/roda.png");
    background-position: -18px -18px;
}

.Rocker.avatar {
    left: 30%;
    width: 70px;
    height: 110px;
    background-image: url("../assets/enemy/rocker.png");
    background-position: -12px -14px;
}

/* Poring Field 2 - Boss */
.Eclipse.avatar {
    width: 50px;
    height: 50px;
    background-image: url("../assets/enemy/eclipse.png");
    background-position: -4px 0;
    background-repeat: no-repeat;
}
