/* Enemies */

/* Status */
.player-avatar .avatar.enemy.regen {
    opacity: 0;
}

/* Poring Field */
.Poring.avatar {
    background-image: url("../assets/enemy/poring.gif");
    background-size: 41px 39px;
    background-position: 50% 80%;
}

.Drops.avatar {
    background-image: url("../assets/enemy/drops.gif");
    background-size: 40px 38px;
    background-position: 50% 80%;
}

.Poporing.avatar {
    background-image: url("../assets/enemy/poporing.gif");
    background-size: 41px 39px;
    background-position: 50% 80%;
}

.Marine.avatar {
    background-image: url("../assets/enemy/marine.gif");
    background-size: 47px 46px;
    background-position: 50% 80%;
}

/* Poring Field - Boss */
.Poring_King.avatar {
    background-image: url("../assets/enemy/poring_king.gif");
    background-position: 50% 50%;
    background-size: 130px 130px;
    background-repeat: no-repeat;
}

/* Poring Field 2 */
.Fabre.avatar {
    background-image: url("../assets/enemy/fabre.gif");
    background-size: 36px 29px;
    background-position: 50% 80%;
}

.Lunatic.avatar {
    background-image: url("../assets/enemy/lunatic.gif");
    background-size: 35px 28px;
    background-position: 50% 80%;
}

.Rodra.avatar {
    background-image: url("../assets/enemy/rodra.gif");
    background-size: 46px 55px;
    background-position: 50% 80%;
}

.Rocker.avatar {
    background-image: url("../assets/enemy/rocker.gif");
    background-size: 51px 95px;
    background-position: 50% 80%;
}

/* Poring Field 2 - Boss */
.Eclipse.avatar {
    background-image: url("../assets/enemy/eclipse.gif");
    background-position: 50% 50%;
    background-size: 130px 130px;
    background-repeat: no-repeat;
}
