/* Players */
.Luna {
    background-image: url("../assets/character/swordsman.png");
}

.Arc {
    background-image: url("../assets/character/archer.png");
}

.Mag {
    background-image: url("../assets/character/mage.png");
}

.Aco {
    background-image: url("../assets/character/healer.png");
}

/* Status */
.player-avatar .avatar.attacked {
    will-change: transform;
}
.player-avatar .avatar.attacking {
}
.player-avatar .avatar.dead {
    will-change: opacity;
    opacity: 0.2;
}
.player-avatar .avatar.regen {
    will-change: opacity;
    opacity: 0.2;
}
.player-avatar .avatar.alive {
}

@keyframes attacked { /* CSS3 */
	10%, 90%       { -webkit-transform: translateX(-1px); }
	20%, 80%       { -webkit-transform: translateX(0px); }
	30%, 50%, 70%  { -webkit-transform: translateX(1px); }
	40%, 60%       { -webkit-transform: translateX(0px); }
}

