/* Game Stage */
.game-container .stage {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.stage-players,
.stage-enemies {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
}

.player-avatar {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: auto;
}

.player-avatar .info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* HP */

.player-avatar .info .hp {
    position: relative;
    width: 100px;
    height: 5px;
    margin: auto;
}

.player-avatar .info .hp .current {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #7FFF00;
}

.player-avatar .info .hp .max {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #008000;
    opacity: 0.2;
}

.player-avatar .info .hp.attacked {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

/* Avatar */

.player-avatar .avatar-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.player-avatar .avatar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: initial;
    background-repeat: no-repeat;
}

/* Avatar Status */

.avatar-status-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Locations */
.stage.poring_field {
    background-color: #F0F8FF;
}

.stage.poring_field2 {
    background-color: #FAEBD7;
}
